<!DOCTYPE html>
    <html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Mars</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
            var ws;
    
            function init(){
                if(!'WebSocket' in window){
                    alert('Protocollo WebSocket non supportato dal tuo Browser!\nAlcune funzioni potrebbero non funzionare..');
                }
                
                ws=new WebSocket('ws://localhost:8006');
    
                ws.onopen=function(){
                    console.log('WebSocket aperta');
    
                }
    
                ws.onmessage=function(message){
                    console.log('recived a message');
                    console.log(message.data);
                };
            }
    
            function save_img(){
                console.log('sent a request!');
                ws.send('save_img');
            }
    
    
        </script>

    </head>
    <body onload="init()">

    <!-- Navbar Bootstrap-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</span></a>
            <a class="nav-item nav-link active" href="#">Marte</a>
            <% if (locals.user) { %>
            <a class="nav-item nav-link" href="/user"><%- locals.user.username -%></a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
            <% } else { %>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
            <% } %>
        </div>
        </div>
    </nav>

    <div class="container-fluid" >
        <div class="col-12" style="display: flex; flex-direction: column;">
            <h1 style="margin: 0 auto;">Mars</h1>
            <h3 style="margin: 0 auto;">Ultima foto Sonda <%= name %> e Meteo</h3>
        </div>

        <div class="col-12 pt-5 mt-5 mb-5">
            <img src="<%= url %>" alt="" class="img-responsive rounded mx-auto d-block">

            <div class="col-12 pt-2">
                <h6>Data: <%= date %>   ,  Sol:  <%= sol %></h6>

                <div class="row">
                    <div class="col-6">
                        <form method="POST" action="" id='form_sonda'>
                            <div class="row flex">
                                <select class="form-select" name="sonda" id="sonda" form="form_sonda" style="margin-right: 15px;">
                                    <option value="curiosity" >Curiosity</option>
                                    <option value="perseverance" selected>Perseverance</option>
                                    <option value="opportunity" >Opportunity</option>
                                    <option value="spirit" >Spirit</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Invia</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary"  onclick="save_img()" style="float: right;">Salva su database</button>
                    </div>
                </div>
            </div>
        </div>
        <iframe src='https://mars.nasa.gov/layout/embed/image/mslweather/' width='1200' height='620'  scrolling='no' frameborder='0'></iframe>
    </div>
    
    </body>
    </html>